.cover {
    float: left;
    margin: 0 13px 0 0 !important;
    padding: 0;
    border-radius: 3px 0 0 3px;
    height: 300px !important;
}
.cover img {
    border-radius: 3px 0 0 0;
    height: 100%;
}
.cover .links {
    position: relative;
    bottom: 40px;
    text-align: center;
}
.cover .links a {
    opacity: 0.97;
}
.book .thumbnail {
    padding: 0;
    height: 302px;
    overflow-y: scroll;
}

.authors li:after {
    content: ", ";
}
.authors li:last-child:after {
    content: "";
}
.authors li:nth-last-child(2):after {
    content: " and ";
}
.authors li {
    font-style: italic;
    display: inline;
    list-style: none;
}

.description, .title, .authors {
    padding: 0 7px 0 13px;
}

.search {
    position: relative;
    width: 40%;
    margin: 30px auto;
    color: rgb(51, 51, 51);
}
.search .glyphicon {
    position: absolute;
    right: 20px;
    top: 17px;
    color: #BBB;
}
.search input {
    outline: none;
    padding: 14px 34px 14px 20px;
    border: 1px solid rgb(167, 166, 170);
    border-radius: 50px;
    width: 100%;
}
